[submodule "meta-fsl-arm"]
	path = meta-fsl-arm
	url = git://git.yoctoproject.org/meta-fsl-arm
[submodule "meta-game-emulators"]
	path = meta-game-emulators
	url = https://github.com/exmakhina/meta-game-emulators.git
[submodule "meta-kodi"]
	path = meta-kodi
	url = https://github.com/koenkooi/meta-kodi.git
[submodule "meta-openembedded"]
	path = meta-openembedded
	url = git://git.openembedded.org/meta-openembedded
[submodule "meta-solidrun-arm-imx6"]
	path = meta-solidrun-arm-imx6
	url = git://github.com/SolidRun/meta-solidrun-arm-imx6.git
